* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.table {
    margin: 0 auto;
    width: 80%;
}

thead {
    background-color: black;
    color: gold;
}

tr {
    height: 30px;
    width: 600px;
    text-align: center;
}

th, td {
    vertical-align: middle;
    border-bottom: 1px solid silver;
}