* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}
.tablecenter th,td{
    text-align:center;
}

.tbl {
    width: 50%;
    border-collapse: collapse;
}

.tbl_thead {
    background-color: black;
    color: gold;
}

.tbl_tr {
    height: 30px;
    width: 600px;
    text-align: center;
}

.tbl_th, .tbl_td {
    vertical-align: middle;
    border-bottom: 1px solid silver;
}