<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>HTML table</title>
</head>
<body>
    <table class="tbl">
        <thead class="tbl_thead">
            <tr class="tbl_tr">
                <th class="tbl_th">First Name</th>
                <th class="tbl_th">Last Name</th>
                <th class="tbl_th">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="tbl_tr">
                <td class="tbl_td">{{ user['first_name'] }}</td>
                <td class="tbl_td">{{ user['last_name'] }}</td>
                <td class="tbl_td">{{ user['first_name'] }} {{ user['last_name'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>